/* loading animation */
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dots-container .dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b0b2b4;
  animation: pulse 1.5s infinite ease-in-out;
}

.dots-container .dotlast-child {
  margin-right: 0;
}

.dots-container .dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dots-container .dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dots-container .dot:nth-child(3) {
  animation-delay: 0.1s;
}

/* animation */

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #7a8797;
    box-shadow: 0 0 0 0 rgba(122, 135, 151, 0.7019607843);
  }

  50% {
    transform: scale(1.2);
    background-color: #7a8797;
    box-shadow: 0 0 0 10px rgba(122, 135, 151, 0.7019607843);
  }

  100% {
    transform: scale(0.8);
    background-color: #7a8797;
    box-shadow: 0 0 0 0 rgba(122, 135, 151, 0.7019607843);
  }
}
